

    <div class="slider">
        <div class="row">
            <div class="left-cell">
                <h1>Testimonials</h1>
                <p>Take a deep dive into the tales of tripump from our team agency. Our clients recount their journeys using buttons, showcasing cutting-edge milk pasturisation techniques.</p>
            </div>
            <div class="right-cell">
                {# Some buttons for the carousel. #}
                <a href="#" class="button">back</a>
                <a href="#" class="button">next</a>
            </div>
        </div>
        <div class="row">
            <div class="image">

            </div>
            <div class="text-content">
                <h2>Client Name</h2>
                <p class="quote">
                    This team and its members are responsive, innovative and lice free problem solvers...
                </p>
            </div>
        </div>
    </div>
