
    <div class="superlist rows">
        <h2>Learn</h2>
        <ul>
            <li>
                <h3>Insight</h3>
                <p class="large">22 Award Winning solutions in 2023</p>

            </li>
            <li>
                <h3>Guide</h3>
                <p class="large">Understanding Kubernetes without the hardship.</p>
                <div class="tags">
                    <ul>
                        <li>Development</li>
                        <li>Another Tag</li>
                        <li>Something Else</li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>Article</h3>
                <p class="large">How to add one hour to the average day</p>
                <div class="tags">
                    <ul>
                        <li>Social</li>
                        <li>Time Machine</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
