
    <div class="we-box">
        <!-- Left, items, Right, boxes.-->
        <div class="left-cell">
            <h1>We Are</h1>
            <h2>Creative Designers, Insighful Quandies, Exceptional Engineers</h2>
            <p>Something website with alphabet not lorem. Lorem is better. as a project thrives on community site numbers.</p>
        </div>
        <div class="right-cell">
            <div class="alpha">
                <h3>19+</h3>
                <p>Milkshakes Delivered</p>
            </div>
            <div class="beta">
                <h3>101</h3>
                <p>Elks launched into space</p>
            </div>
            <div class="charlie">
                <h3>6+</h3>
                <p>Patents and awards</p>
            </div>
        </div>
    </div>
