
<blockquote cite="https://www.huxley.net/bnw/four.html">
    <p>Words can be like X-rays, if you use them properly - they’ll go through anything. You read and you’re pierced.</p>

    <footer> - Aldous Huxley,
        <cite>Brave New World</cite>
    </footer>
</blockquote>

{% lorem 1 p random %}

<blockquote>
    {% lorem 1 p random %}
</blockquote>

{% lorem 1 p random %}

<h4>Block Quote Under Title</h4>

<blockquote>
    {% lorem 2 p random %}
</blockquote>

{% lorem 1 p random %}

<h4>Sibling Block Quotes</h4>

{% lorem 1 p %}

<blockquote>
    {% lorem 1 p random %}
</blockquote>

<blockquote>
    {% lorem 1 p random %}
</blockquote>
