
<ul>
    <li><a href="#">hash link</a></li>
    <li><a href="#content">anchor link</a></li>
    <li><a href="..">relative back one</a></li>
    <li><a href="./content/">relative forward one</a></li>
    <li><a href="http://locahost:8000/content/">HTTP Localhost</a></li>
    <li><a href="https://google.com/">Google</a></li>
    <li><a href="https://bbc.co.uk/">BBC</a></li>
</ul>

<p>
    {% lorem 12 w %}
    <a href="#content-here">More here</a>
    {% lorem 12 w %}
    <a href="https://google.com/">Google</a>
    {% lorem 12 w %}
</p>
