/* .image-info-container { */
/*     display: grid; */
/*     grid-template-columns: 1fr 1fr; */
    /* grid-template:
        ". ."; */
/*     width: 100%; */
/*     overflow: auto; */
/* } */

.image-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  grid-template-columns: .55fr .45fr;
  grid-template-rows: 1fr;
  gap: 0;
  grid-auto-flow: column;
  grid-template-areas:
    "image text";
  align-self: center;
  /* flex-wrap: wrap; */
  /* grid-gap:  0; */
}
.image-info-container.switch {
    grid-template-areas:
    "text image";
}
.image-container { grid-area: image; }

.text-content-container { grid-area: text; }


.image-container {}

.image-container {
    display: flex;
    /* padding: 0 4em; */
    position: relative;
}

img {
    width: 100%;
    /* border-radius: 0.5em; */
    /* display: inline-flex; */
    /* height: auto; */
    object-fit: contain;
    min-width: 29em;
}

.text-content-container {
    /* font-size: 1rem; */
    justify-self: center;
    align-self: center;
    padding: 4em;
    display: flex;
}

.text-content {flex-basis: 46em;display: flex;flex-direction: column;gap: 2em;}

.text-content-container p {
    font-size: 1.7rem;
    line-height: 1.5;
    letter-spacing: 0.1px;
    margin: 0;
}

.text-content-container h2 {
    font-size: 4rem;
    letter-spacing: .1px;
    margin: 0em 0;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
    font-weight: 600;
    font-weight: 100;
    font-size: 5rem;
    text-decoration: none;
}



html, h2, h1, h3 {
    font-family: 'Noto Sans', sans-serif;
}

.image-info-container.switch .image-container {
    padding: 0;
    /* padding-right: 4em; */
}

.switch .text-content-container {
    /* padding: 0; */
}

body main {
    gap: 0;
}

main section {
    /* border: solid; */
    /* height: 100vh; */
    display: grid;
}

.supersize.standard-page-container {
    height: 70vh;
    padding: 15vh;
}

ul.image-superlist {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    /* gap: 10em 0; */
}

.ai-watermark {
    position: absolute;
    bottom: 2em;
    right: 2em;
    /* margin: 2em; */
    margin-left: 2em;
    padding: 0em;
    max-height: -webkit-fill-available;
    overflow: hidden;
    margin-top: 1em;
    display: grid;
    grid-auto-rows: auto 1fr;
}

span.present-text {}

.not-ai .ai-watermark {
    display: none;
}

.ai-watermark span.present-text {
    font-size: 0.8rem;
    font-weight: 600;
    background: #000;
    letter-spacing: 1px;
    padding: 0.8em;
    display: flex;
    border-radius: 0.4em;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    transition: opacity .3s ease;
    border: solid 1px #000000d1;
    background: #00000000;
}

.image-container:hover .ai-watermark span.present-text, .image-container:focus .ai-watermark span.present-text {
    opacity: 0.2;
}

.ai-watermark .hover-text {
    color: inherit;
    background: #111;
    padding: 5em;
    overflow: auto;
    /* border: solid; */
    /* height: 69%; */
}

.image-container .ai-watermark span.present-text:hover,
.image-container .ai-watermark span.present-text:focus {
  opacity: .8;
  background: #111;
}

.swatch-container {
    display: grid;
}


ul.swatch-list {
    display: grid;
    margin: 0;
    padding: 0;
    /* border: solid; */
    justify-content: center;
    grid-auto-flow: column;
    list-style: none;
    gap: 3em;
    align-content: space-evenly;
    padding: 10rem 0 15rem;
    border-top: solid 1px #000000cf;
}

li.swatch-item {border: solid 1px #000000ad;aspect-ratio: 1.1;display: grid;height: 20em;justify-content: center;align-content: center;}

li.view-split {
    display: grid;
    min-height: 35em;
}

ul.image-superlist.big-split {
    gap: 15em 0;
}

li.swatch-item.cell-b {
    background: #2b3e8a;
}

.over-split .image-info-container.switch {
    grid-template-columns: .45fr .55fr;
}


.cloud-a {
    background-image: url('/static/images/clouds/news_wolke1.png');
}

.cloud-b {
    background-image: url('/static/images/clouds/tickets_wolke2.png');
}

.cloud-c {
    background-image: url('/static/images/clouds/event_wolke2.png');
}

.cloud-d {
    background-image: url('/static/images/clouds/tickets_wolke2.png');
}

.small-cloud-a {
    background-image: url('/static/images/clouds/event_wolke6.png');
}

.small-cloud-b {
    background-image: url('/static/images/clouds/event_wolke5.png');
}

/* big ones */
.big-cloud-a {
    background-image: url('/static/images/clouds/tickets_wolke1.png');
}

.big-cloud-b {
    background-image: url('/static/images/clouds/riders_wolke2.png');
}


.cloud {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.paragraph-container.supersize.standard-page-container {
    /* background-image: url(); */
}

.hero-cloud.big-cloud-a {
    background-repeat: no-repeat;
    background-position: right 55vh;
    background-size: 44vw;
    /* background-attachment: fixed; */
}

.left-cell.small-cloud-a {
    background-repeat: no-repeat;
    background-size: 6em;
    background-position: left top;
}


.header-cloud {
    min-width: 34em;
    position: absolute;
    min-height: 17em;
    background-position: -9em -4em;
    background-position: -8vw -7vh;
    background-repeat: no-repeat;
    background-size: 33em;
    opacity: 1;
    z-index: -1;
}


.back-gradient {
    background: linear-gradient(37deg, #000000 3%, #2c2c2c);
    z-index: -2;
    /* background: linear-gradient(148deg,                                rgb(34 87 171) 1%,                                rgb(35 35 66) 60%,                                rgb(44 36 76) 100%); */
    position: relative;
}

.dot-matrix {
    /*Free Dot Matrix SVG provided by SVGeez.com - CC 4.0 License - Â© 2019 Megan Young */
    background-color:transparent;
    fill:rgb(44, 44, 44);
    fill: red;
    background-size:105px 105px;
    /* background-repeat:repeat; */
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgb(44, 44, 44)} %3C/style%3E%3Ccircle class='st0' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='336.6' r='12.7'/%3E%3Cg%3E%3Ccircle class='st0' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='419.5' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='500.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='170.9' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='253.8' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='88' r='12.7'/%3E%3C/g%3E%3C/svg%3E");
    /* mix-blend-mode: color-dodge; */
}



.dot-matrix {
    animation: sml 13s infinite linear;
    background-position: 10px 10px;
}


@keyframes sml {
    0% {
        background-position: 0px 0px;
    }

    100% {

        background-position: -87px -87px;
    }
}


.back-gradient .dot-matrix {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
    /* mix-blend-mode: luminosity; */
    /* background-blend-mode: color-burn; */
    opacity: 0.2;
}