{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}
{% templatetag openblock %} comment "What" {% templatetag closeblock %}
    The 'three-col' template allows a simple

        left    center      right

    where the left is usually designated to site-wide pages, and the right is
    dedicated to the in-page (local) page content, such as a TOC.
{% templatetag openblock %} endcomment {% templatetag closeblock %}
{% templatetag openblock %} load static link {% templatetag closeblock %}

{% templatetag openblock %} block body_class {% templatetag closeblock %}dev-mode three-column-template-homepage{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block extra_css {% templatetag closeblock %}

    {% templatetag openblock %} css "css/alt-base/base.css" {% templatetag closeblock %}
    {% templatetag openblock %} css "css/alt-base/header-nav.css" {% templatetag closeblock %}
    {% templatetag openblock %} css "css/alt-base/three-col.css" {% templatetag closeblock %}

{% templatetag openblock %} endblock extra_css {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

<header class="classic-header sticky">
    <div class="logo">
        <h1>
        {% templatetag openvariable %} page.get_site.site_name {% templatetag closevariable %}
    </h1>
    </div>
    <nav class="header-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Cheese</a></li>
        </ul>
    </nav>
    <div class="user-area">
        <div class="account-area">
            <a href="#">{% templatetag openvariable %} user {% templatetag closevariable %}</a>
        </div>
    </div>
</header>

<main>
    <div class="column-base">
        <div class="left secondary-column">
            {% templatetag openblock %} block content.left {% templatetag closeblock %}{% templatetag openblock %} endblock content.left {% templatetag closeblock %}
        </div>

        <div class="center primary-column">
            {% templatetag openblock %} block content.center {% templatetag closeblock %}
            <h1>Content Here</h1>
            {% templatetag openblock %} lorem 30 p {% templatetag closeblock %}
            {% templatetag openblock %} endblock content.center {% templatetag closeblock %}
        </div>

        <div class="right secondary-column">
            {% templatetag openblock %} block content.right {% templatetag closeblock %}{% templatetag openblock %} endblock content.right {% templatetag closeblock %}
        </div>
    </div>
</main>

<footer>
    <div class="footer-area">

    </div>
</footer>

{% templatetag openblock %} endblock content {% templatetag closeblock %}
